.DS_Store
.vscode

# built game
khel
# debug symbols
khel.dSYM

# files currently used in testing, but which may present licensing issues if included in the repository
Cardboard Box - Nest.wav
Cardboard Box - ++.wav

# allow the Khel folder in charts
!charts/
!charts/Khel/
